{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<section class="container py-5 rounded">
    <section class="container py-5 rounded">
        <div class="container-fluid bg-light py-5 rounded">
            <div class="col-md-6 m-auto text-center">
                <h1>Bienvenido(a) {{ user.display_name }}</h1>
            </div>
            <div class="col-md-6 m-auto text-center">
                {% if budget >= 0 %}
                    <div class="h-100 py-5 shadow rounded" style="background-color: #69bb7e;">
                            <h2 class="h5 mt-4 text-center">Tu presupuesto restante es: {{ budget|floatformat:0|intcomma }}</h2>
                            <h2 class="h5 mt-4 text-center">Haz gastado: {{ gastos|floatformat:0|intcomma }}</h2>
                    </div>
                {% else %}
                    <div class="h-100 py-5 shadow rounded" style="background-color: #aa4a4a;">
                        <h2 class="h5 mt-4 text-center">Tu presupuesto restante es: {{ budget|floatformat:0|intcomma }}</h2>
                        <h2 class="h5 mt-4 text-center">Has gastado: {{ gastos|floatformat:0|intcomma }}</h2>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    <div class="container-fluid bg-light py-5 rounded">
        <div class="col-md-6 m-auto text-center">
            <h2>Ingresa una transacción!</h2>
        <div class="container py-5 rounded" style="background-color: #8d94bb;">
                <div class="row py-5">
                    <form method="post" class="col-md-9 m-auto">
                        <div class="row">
                            {% csrf_token %}
                            <div class="form-group col-md-6 mb-3 m-auto ">
                                <label for="type">Tipo:</label>
                                <select name="type" id="type">
                                    <option value="deposit">Ingreso</option>
                                    <option value="spend">Gasto</option>
                                </select><br>
                            </div>
                            {% if categories.count %}
                            <div class="form-group col-md-6 mb-3 m-auto">
                                <label for="category">Categoria:</label>
                                <select name="category" id="category">
                                    {% for cat in categories %}
                                        <option value="{{ cat.name }}">{{ cat.name }}</option>
                                    {% endfor %}
                                </select><br>
                            </div> 
                            {% endif %}
                            <div class="form-group col-md-6 mb-3 m-auto">
                                <label for="description">Descripción:</label>
                                <input type="text" name="description" required style="width: 90%;"><br>
                            </div>
                            <div class="form-group col-md-6 mb-3 m-auto">
                                <label for="amount">Monto:</label>
                                <input type="number" name="amount" required style="width: 90%;"><br>
                            </div>
                            <div class="form-group col-md-6 mb-3 m-auto">
                                <label for="date">Fecha:</label>
                                <input type="date" name="date" value="{{ today }}" required><br>
                            </div>
                            <div class="row">
                                <div class="col text-end mt-2">
                                    <button type="submit" class="btn bg-dark btn-lg px-3 text-light">Agregar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <section class="container py-5 rounded">
        <div class="container-fluid bg-light py-5 rounded">
            <div class="col-md-6 m-auto text-center">
                <h2>Tus categorías:</h2>
                <div class="row">
                    {% for budget in budgets %}
                        {% if budget.name != "ninguna" %}
                            <div class="col-md-6 col-lg-4 pb-5">
                                {% if budget.valid %}
                                    <div class="h-100 py-4 px-3 shadow rounded" style="background-color: #69bb7e;" onclick="window.location='{% url 'list' %}?categories={{ budget.id }}';">
                                            <h2 class="h4 mt-4 text-center">{{budget.name}}:</h3>
                                            <h4 class="h5 mt-4 text-center">Saldo: {{budget.amount|floatformat:0|intcomma}}</h4>
                                    </div>
                                
                                {% else %}
                                    <div class="h-100 py-4 px-3 shadow rounded" style="background-color: #aa4a4a;" onclick="window.location='{% url 'list' %}?categories={{ budget.id }}';">
                                            <h2 class="h4 mt-4 text-center">{{budget.name}}:</h2>
                                            <h4 class="h5 mt-4 text-center">Saldo: {{budget.amount|floatformat:0|intcomma}}</h4>
                                            {% if positive%}
                                                <td><a class="btn btn-warning" href="/transferDebt/{{ budget.id }}">Trasferir</a></td>
                                            {% endif %}
                                    </div>
                                
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                    
            </div>
        </div>
    </section>
</section>

{% endblock %}