

<div>
    <a href="{% url 'list'%}">Transacciones</a>
    <a href="{% url 'organiza_finanzas' %}">Organiza tus finanzas</a>
    <a href="{% url 'logout' %}">logout</a>
</div>

{% block content %}
    <h1>Bienvenido(a) {{ user.display_name }}</h1>
    <p>Tu saldo disponible es: {{ saldo }}</p>
{% endblock %}
<h1>Ingresa una transacción!</h1>

<form method="post">
    {% csrf_token %}
    <label for="type">Tipo:</label>
    <select name="type" id="type">
        <option value="deposit">Ingreso</option>
        <option value="spend">Gasto</option>
    </select><br>
    
    {% if categories.count %}
        <label for="category">Categoria:</label>
        <select name="category" id="category">
            {% for cat in categories %}
                <option value="{{ cat }}">{{ cat.name }}</option>
            {% endfor %}
        </select><br>
    {% endif %}
    <label for="description">Descripción:</label>
    <input type="text" name="description" required><br>
    <label for="amount">Monto:</label>
    <input type="number" name="amount" required><br>
    <label for="date">Fecha:</label>
    <input type="date" name="date" value="{{ today }}" required><br>
    <input type="submit" value="Agregar">
</form>