{% extends 'base.html' %}
{% block content %}
<div>
  <form method="GET" action="{% url 'list' %}">
    <label for="start_date">Fecha de inicio:</label>
    <input type="date" id="start_date" name="start_date">
    <label for="end_date">Fecha de fin:</label>
    <input type="date" id="end_date" name="end_date">
    <button type="submit">Filtrar</button>
  </form>
  <form action="{% url 'list' %}" method="GET">
    <label>Filtrar por categoria:</label><br>
      {% for category in categories %}
        <label>
          <input type="checkbox" name="categories" value="{{ category.id }}"> {{ category.name }}
        </label><br>
      {% endfor %}
    <input type="submit" value="Filtrar">
  </form>
    
    {% for category in transactions %}
    <div>
    <h3>{{category.name}}</h3>
    <table>
        <thead>
            <tr>
                <th scope="col">Valor</th>
                <th scope="col">Descripción</th>
                <th scope="col">Fecha</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction in category.trans %}
            <tr>
                {% if transaction.type == "spend" %}
                <td>-{{transaction.amount}}</td>
                {% else %}
                <td>+{{transaction.amount}}</td>
                {% endif %}
                <td>{{transaction.description}}</td>
                <td>{{transaction.date}}</td>
                <td><a class="btn btn-warning" href="/editTrans/{{ transaction.id }}"> Editar </a></td>
                <td><a class="btn btn-danger" href="/eliminarTrans/{{ transaction.id }}"> Eliminar </a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    {% endfor %}
</div>   
{% endblock %}