{% extends 'base.html' %}
{% block content %}
<h1>Organiza tus finanzas!</h1>

<h2>Estas son tus categorias:</h2>
{% for category in categories %}
    <h3>{{ category.name }}</h3>
    <td><a class="btn btn-warning" href="/editCat/{{ category.id }}"> Editar </a></td>
    <td><a class="btn btn-danger" href="/eliminarCat/{{ category.id }}"> Eliminar </a></td>
{% endfor %}

<h2>Agrega una categoria:</h2>

<form method="post">
    {% csrf_token %}
    <label for="name">Nombre:</label>
    <input type="text" name="name" required><br>
    <label for="name">Presupuesto:</label>
    <input type="number" name="budget" required><br>
    <input type="submit" value="Agregar">
</form>
{% endblock %}