{% extends 'base.html' %}
{% block content %}
<div style="margin-top: 20px;"></div> 
<div class="container py-5">
    <div class="row py-5">
        <div class="col-md-9 m-auto">
            <h1>Registrate</h1>
            <form class="p-4" style="background-color: #ffffff;" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ register_form.as_p }}
                    <div class="another-custom-class">{{ form.name }}</div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn bg-dark btn-lg px-3 text-light">Crear usuario</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div style="margin-top: 200px;"></div> 
{% endblock %}