.custom-accordion .accordion-button {
  background-color: transparent !important;
  color: black !important;
  border-color: #999 !important;
}

.custom-accordion .accordion-button:focus,
.custom-accordion .accordion-button:active,
.custom-accordion .radio-input:focus,
.custom-accordion .radio-input:active {
  outline: none;
  box-shadow: none;
}

.custom-accordion .accordion-collapse {
  background-color: white !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Puedes ajustar el valor rgba según tus preferencias */
}
